<!-- 
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/news/"  | absURL }}">News</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/teachings/" | absURL }}">Teachings</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">About</a>
</li>
-->
<!--
{{- $currentPage := . -}}
{{ range .Site.Menus.main -}}
<li class="nav-item">
    <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
</li>
{{- end }}
-->

{{ range .Site.Menus.main }}
{{ if .HasChildren }}
<li class="nav-item dropdown">
<a href="{{ .URL | relLangURL }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
    aria-expanded="false">{{ .Name }} <span class="ion-ios-arrow-down"></span></a>
    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
    {{ range .Children }}
    <a class="dropdown-item nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
    {{ end }}
    </div>
</li>
{{ else }}
    <li class="nav-item">
        <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    </li>
{{ end }}
{{ end }}
    
<!-- 
{{- if .Site.IsMultiLingual }}

  
    {{ $siteLanguages := .Site.Languages}}
    {{ $pageLang := .Page.Lang}}
    {{ range .Page.AllTranslations }}
    {{ $translation := .}}
    {{ range $siteLanguages }}
    <li class="nav-item">
    <a class="nav-link active" href="{{ $translation.Permalink }}">{{ .LanguageName }}</a>
    </li>
    {{ end }}
    {{ end }}
  
{{ end }}
Language List -->