<!-- Begin Footer
================================================== -->
<div id="footer-nav">

    <div class="view">

        <div id="social">
            <h3>
                Follow Asanga Rinpoche on social media </h3>
            <div class="item">
                <a href="https://www.facebook.com/Office-of-HE-Kh%C3%B6ndung-Asanga-Vajra-Rinpoche-1624157951232279/" rel="me external" target="_blanc"
                    class="circle facebook external">
                    <i class="fa fa-facebook"></i>
                </a>
                
            </div>
            <div class="item">
                <a href="https://www.youtube.com/channel/UC57kwOyXj08Ql7KO1HPy3fw?view_as=subscriber" rel="me external" target="_blanc"
                    class="circle twitter external">
                    <i class="fa fa-youtube"></i>
                </a>
                
            </div>
            <div class="item">
                <a href="https://www.instagram.com/asanga_sakya/" rel="me external" target="_blanc"
                    class="circle instagram external">
                    <i class="fa fa-instagram"></i>
                </a>
                
            </div>
        </div>


    </div>

</div>
<footer class="">
    <div class="view">
        &copy; Copyright {{ .Site.Copyright }}
    </div>
</footer>
<!-- End Footer
================================================== -->
