<!-- Begin Menu Navigation
================================================== -->

<header>
    <div class="view">

        <h1 id="h1"><a href="https://www.karmapa.org">
                {{ with .Site.Params.logo }}
                <img src="{{ . | urlize | relURL }}" width="960" height="136"
                    alt="Logo of His Holiness the 17th Gyalwa Karmapa Thaye Dorje">
                {{ end }}
                <span>Thaye Dorje<br>His Holiness the 17th Gyalwa Karmapa</span></a></h1>


        <nav id="lang"><span>Language</span> <i class="arr"></i>
            <div class="rock">
                <ul>
                    <li><a href="/">English</a></li>
                    <li style="
	font-size: 10px;
	margin: 10px 0 0 0;
">more soon... </li>
                    <!--
					<li><a href="#">བོད་ཡིག</a></li>
					<li><a href="#">中文</a></li>
					<li><a href="#">Česky</a></li>
					<li><a href="#">Español</a></li>
					<li><a href="#">हिन्दी</a></li>
					<li><a href="#">Français</a></li> -->
                </ul>
            </div>
        </nav>
    </div>


    <nav id="main-nav">
        <div class="view">
            {{ $currentPage := . }}
            <label for="button" id="menu-switch"> </label>
            <input type="checkbox" id="button">
            <ul class="top-menu">
                {{ range .Site.Menus.main }}

                <li id="menu-item-364"
                    class="menu-item menu-item-type-custom menu-item-object-custom {{ if $currentPage.HasMenuCurrent "main" . }} current-menu-item current_page_item {{ end }} menu-item-364">
                    <a title="{{ .Name | title }}" href="{{ .URL }}" aria-current="page">{{ .Name | title }}</a></li>
                {{ end }}

            </ul>

        </div>

    </nav>
</header>





<!-- End Navigation
================================================== -->