{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}

<section id="news" class="_maxWidth">

    {{ with .Site.GetPage "/about" }}
    <article class="stage promo">
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            <div class="overlay">

                <img src="{{ .Params.Image | absURL }}" width="1277" height="706" alt="{{ .Title }}">

            </div>
        </a>
        <div class="in"><a href="{{ .Permalink }}" title="{{ .Title }}">
            </a>
            <div class="view"><a href="{{ .Permalink }}" title="{{ .Title }}">
                    <div class="text">{{ .PublishDate.Format "January 2, 2006" }}</div>
                    <h2 class="title">{{ .Title }}</h2>
                </a><a href="{{ .Permalink }}" class="btn-more"> {{ i18n "readmore"  }} </a>
            </div>
        </div>

    </article>
    {{ end }}


    <div class="view" style="margin-top:20px">
        <div class="grid">

            {{ range first 3 (after 0 (where $.Site.RegularPages.ByDate.Reverse "Type" "featured")) }}
            <article class="three">
                <a href="{{.Permalink}}">
                    <div class="img ">

                        <img src="{{ .Params.Image | absURL }}" alt="{{.Title}}" title="{{.Title}}"
                            class="centered-and-cropped card-img-top">

                        <div class="caption camera">{{ .PublishDate.Format "January 2, 2006" }}</div>
                        <div class="text">
                            <h3>{{ .Title }}</h3>
                        </div>
                    </div>
                </a>
            </article>
            {{ end }}



        </div><!-- . grid -->
    </div>

    <article class="first">
        <div class="view">
            <h2><a href={{ "/2018/04/20180430/" | relLangURL }} >{{ i18n "feature_title"  }}</a></h2>
            <div class="img">
                <a href={{ "/2018/04/20180430/" | relLangURL }}>
                    <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510120358913.jpeg"
                        alt="H.E. Asanga Rinpoche"
                        title="H.E. Asanga Rinpoche" width="533" height="400">
                </a>
            </div>
            <div class="text">
                <p></p>
                <p>{{ i18n "feature_content1"  }}</p>
                <p></p>
                <p class="text-center"><a href={{ "/2018/04/20180430/" | relLangURL }} class="btn-more">{{ i18n "readmore"  }}</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </article>

</section>





{{ end }}



{{ define "main" }}

<div class="w-full">



    <div class="w-full " style="padding: 0px 0;
    text-align: left;">
        <section class="container">
            <div class="">
                <h2 class="text-dark"><span><a href="{{ "posts/" | absLangURL }}" class="text-dark">
                            {{ i18n "allposts"  }}</a></span></h2>
            </div>
            <div class="row listrecent ">
                {{ $t := .Site.GetPage "/posts" }}
                {{ $post_paginator := .Paginate (where (.Site.RegularPages.ByDate.Reverse) "Type" "!=" "featured") 6 }}
                {{ range $post_paginator.Pages }}
                {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
    </div>

    <section class="container" style="padding: 20px 0 0 0px;
    text-align: left;">

        <div>
            <h2><span>{{ i18n "photogallery"  }}</span></h2>
        </div>

        <div class="w-100">
            <div class="carousel"
                data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"cellAlign": "left", "contain": true,"autoPlay": true }'>
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/12.png" alt="img" />

                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/1.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/2.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/3.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/4.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/5.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/6.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/7.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/8.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/9.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/10.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/11.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/image-20200517230432153.png"
                    alt="img" />
            </div>
        </div>

        <!--
        <div class="flow-gallery">
            <div>
                <a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/image-20200517230432153.png"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/image-20200517230432153.png">
                </a>
            </div>

            <div>
                <a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510120358913.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510120358913.jpeg">
                </a>
            </div>
            <div>
                <a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510091318510.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510091318510.jpeg">
                </a>
            </div>

            <div>
                <a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510113715947.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510113715947.jpeg">
                </a>
            </div>

            <div><a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123630569.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123630569.jpeg">
                </a>
            </div>

            <div><a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123639601.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123639601.jpeg">
                </a>
            </div>

            <div><a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123646861.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123646861.jpeg">
                </a>
            </div>

            <div><a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123654965.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123654965.jpeg">
                </a>
            </div>
        </div>
        -->

    </section>



    <section id="promo-2" class="promo">

        <div class="view">

            <div class="in">
                <h3>{{ i18n "heasanga"  }}</h3>

                <p>{{ i18n "heasangaintro"  }}</p>
                <br/><br/><br/><br/>
                <br/>
            </div>
        </div>
    </section>

    
</div>
{{- partial "_shared/social.html" . -}}
{{ if isset .Site.Params.index "alertbar" }}
{{ if .Site.Params.index.alertbar }}
{{- partial "_shared/alertbar.html" . -}}
{{ end }}
{{ end }}
{{end}}

{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}