{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}

<div class="site-content w-100" style="background:#FDECC4;padding: 0px 0;
text-align: center;">
    <div class="w-100">

        <header class="text-center">

        </header>

        <div class="carousel2"
            data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"cellAlign": "center", "contain": true,"autoPlay": true ,"adaptiveHeight": true,"wrapAround": true}'>
            <img src="https://raw.githubusercontent.com/thogmedorje/site1/master/static/images/slider/vietnamweb.png" alt="img" />
            <img src="https://raw.githubusercontent.com/thogmedorje/site1/master/static/images/slider/darjeelingweb.jpeg" class=" w-100" alt="img" />

            <img src="https://raw.githubusercontent.com/thogmedorje/site1/master/static/images/slider/prayweb.png" class="w-100" alt="img" />

            
            <!--img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/WechatIMG3527.jpeg"
                class="w-100" /-->

        </div>

        
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="index-title">
                    <h2>{{ i18n "heasanga"  }}</h2>

                    <p>{{ i18n "heasangaintro"  }}</p>
                </div>
            </div>



        </div>
    </div>

<!--
    

    -->

</div>

{{ end }}



{{ define "main" }}

<div class="w-full">

    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <h2>{{ i18n "featuredarticles"  }}</h2>

                    </div>
                </div>


                {{ range first 2 (where $.Site.RegularPages.ByDate.Reverse "Type" "featured") }}
                <div class="col-lg-5 col-md-10 mx-auto">
                    <div class="card-deck ">
                        <img class="centered-and-cropped card-img-top" width="450" height="480"
                            src="{{ .Params.Image | absURL }}" alt="Card image">

                        <div class="card-body">
                            <h4 class="card-title"><a href="{{ .Permalink }}" class="text-dark">{{ .Title }}</a></h4>
                            <p class="card-text"></p>
                            <a href="{{ .Permalink }}" class="text-dark">Read more ...</a>


                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>


    <header class="text-center">
        {{ with .Site.Params.index.picture }}
        <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
        {{ end }}
        <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
    </header>

    <section class="text-center">
        {{ with .Site.Params.index.subtitle }}
        <h3 class="index-sub">{{ . }}</h3>
        {{ end }}
        {{ with .Site.Params.index.mdtext }}
        <h6 class="index-text">{{ . | markdownify }}</h6>
        {{ end }}
    </section>

    <div class="w-full " style="background:#800000;padding: 60px 0;
    text-align: left;">
    <section class="container">
        <div class="" >
            <h2 class="text-white"><span><a href="{{ "posts/" | absLangURL }}" class="text-white"> {{ i18n "allposts"  }}</a></span></h2>
        </div>
        <div class="row listrecent ">
            {{ $t := .Site.GetPage "/posts" }}
            {{ $post_paginator := .Paginate (where (.Site.RegularPages.ByDate.Reverse) "Type" "!=" "featured") 6 }}
            {{ range $post_paginator.Pages }}
            {{- partial "list-partials/postbox.html" . -}}
            {{end}}
        </div>
    </section>
</div>

    <section class="container" style="padding: 30px 0 0 0px;
    text-align: left;">

        <div >
            <h2><span>{{ i18n "photogallery"  }}</span></h2>
        </div>

        <div class="w-100">
            <div class="carousel"
                data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"cellAlign": "left", "contain": true,"autoPlay": true }'>
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/12.png" alt="img" />
    
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/1.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/2.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/3.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/4.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/5.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/6.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/7.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/8.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/9.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/10.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/11.png" alt="img" />
                <img src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/image-20200517230432153.png"
                    alt="img" />
            </div>
        </div>

        <!--
        <div class="flow-gallery">
            <div>
                <a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/image-20200517230432153.png"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/image-20200517230432153.png">
                </a>
            </div>

            <div>
                <a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510120358913.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510120358913.jpeg">
                </a>
            </div>
            <div>
                <a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510091318510.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510091318510.jpeg">
                </a>
            </div>

            <div>
                <a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510113715947.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510113715947.jpeg">
                </a>
            </div>

            <div><a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123630569.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123630569.jpeg">
                </a>
            </div>

            <div><a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123639601.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123639601.jpeg">
                </a>
            </div>

            <div><a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123646861.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123646861.jpeg">
                </a>
            </div>

            <div><a href="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123654965.jpeg"><img
                        src="https://raw.githubusercontent.com/thogmedorje/up/master/uPic/640-20200510123654965.jpeg">
                </a>
            </div>
        </div>
        -->
        
    </section>

</div>
{{- partial "_shared/social.html" . -}}
{{ if isset .Site.Params.index "alertbar" }}
{{ if .Site.Params.index.alertbar }}
{{- partial "_shared/alertbar.html" . -}}
{{ end }}
{{ end }}
{{end}}

{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}